.plastic
.vs
.collabignore
.vscode/
Saves/
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Library/
Logs/
Mobile ludum in spatio isometric 0.3.1.apk
Rocnikovka.sln
Temp/
UserSettings/
ignore.conf
obj/
tesst1_BurstDebugInformation_DoNotShip/
